@font-face {
  font-family: Aegean;
  src: url("./Aegean.otf") format("opentype");
}

body {
  background: #0c0b18;
  padding: 40px;
  font-family: Aegean, sans-serif;
}
body, input, button, select {
  font-size: 1.3rem;
  text-align: center;
  font-family: Aegean, sans-serif;
}

input {
  padding: 10px;  
}

button {
  border-radius: 5px;
  background: #ffae88;
  border: none;
  border-bottom: 2px solid #b0613c;
  color: black;
  font-weight: bold;
  padding: 7px;
}

button:active {
  border: none;
}

input {
  border-radius: 5px;
}

#output {
  font-size: 2rem;
}

p {
  color: white;
}

a {
  color: #ffae88;
}

.container {
  display: flex;
  margin: auto;
}

.container > * {
  display: flex-item;
  flex-grow: 1;
  margin: 5px;
}

